---
title: '[프로그래머스SQL] 평균 일일 대여 요금 구하기'
author: 'Kibok Park'
date: '2024-05-16'
categories: ['프로그래머스/SQL']
toc: true
draft: true
format:
  html:
    code-fold: false
comments:
  giscus:
    repo: kr9268/giscus_for_blog
---

## 개요
프로그래머스 SQL 문제풀이 연습(Oracle기준, Mysql아님)입니다 <br>
(비상업적, 비영리적 용도)

[문제링크](https://school.programmers.co.kr/learn/courses/30/parts/17042)

## 문제 : 평균 일일 대여 요금 구하기

![문제 이미지](question.png)

## 작성답안

In [ ]:
SELECT ROUND(AVG(DAILY_FEE)) AS AVERAGE_FEE
FROM CAR_RENTAL_COMPANY_CAR
WHERE CAR_TYPE = 'SUV'

## 정리

* ROUND : 반올림
* AVG : 평균
* AS ??? : 컬럼명을 ???으로 가져온다
* WHERE : 작성한 조건을 기준으로 가져온다<br>
    * **WHERE**의 여러 형태예시
    ```
    WHERE CAR_TYPE = 'SUV'
    WHERE CAR_TYPE != 'SUV'
    WHERE DAILY_FEE > 14000
    WHERE DAILY_FEE BETWEEN 14000 AND 16000
    WHERE DAILY_FEE IN (14000, 16000)
    WHERE CAR_TYPE IN ('SUV', '세단')
    ```